@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181b28;
    --card-color: #131626;
    --card-color-hover: #181c31;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}
